<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ '98.css' | asset_url | stylesheet_tag }}
    {{ 'tippy.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'popper.min.js' | asset_url }}"></script>
    <script src="{{ 'shopify-money.js' | asset_url }}"></script>
    <script src="{{ 'custom-elements.js' | asset_url }}"></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'alpinejs-tooltip.min.js' | asset_url }}" defer></script>
    <script src="{{ 'alpinejs.min.js' | asset_url }}" defer></script>
  </head>
  <body>

    {% if template.name == 'index' %}
      <main class="main__index">
        {{ content_for_layout }}

        {% section 'footer' %}
      </main>
    {% else %}
      <main class="window main__window">
        <div class="title-bar">
          <div class="title-bar-text">{{ shop.url }} - {{ page_title }}</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" disabled></button>
            <button aria-label="Maximize" disabled></button>
            <button aria-label="Close" disabled></button>
          </div>
        </div>
        <div class="window-body">
          {{ content_for_layout }}

          {% section 'footer' %}
        </div>
      </main>
    {% endif %}


    {% section 'header' %}

  </body>
</html>
